/* universal selector */
*{
    font-family: 'Courier New', Courier, monospace ;
}

/* element selector */
h3{
    color:purple;
}

h1{
    color:#b92b27;
}

/* add multiple element and have same property */
/* h1,h3{
    color:#b92b27
} */

/* id selector */
#login{
    background-color: black;
    color:white;
}

#signup{
    background-color: #b92b27;
    color:white; 
} 


/* class selector */
/* .follow{
    color:red;
} */

.upvote{
    background-color:teal;
    color:white;
}

/* thisis the part of practice ques 4 */
/* #myid{
    color:teal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
} */

div[id="myid"]{
    color:green;
}


/* descendant selector */
/* p a {
    color:rgb(183, 39, 92);
    background-color: yellow ;
} */

.post a{
    color:chartreuse;
}

nav ul li{
    color:rgb(189, 72, 91);
}
nav ul li a{
    color:rgb(159, 67, 82);
}



/* adjacent sibling combinator */
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: aqua;
}


/* child combinator */
div > input {
    background-color: rgb(230, 151, 167);
}


/* attribute selector */
input[type="text"]{
    color:red;
}

input[type="password"]{
    color:blue;
}

input[type]{
    background-color :aliceblue
}



/* pseudo class  */
     /* hover */
button:hover{
    background-color: black;
    color:white;
}

h3:hover{
    text-decoration:overline
}

/* active*/
button:active{
    background-color: rgb(140, 24, 43);
    color:black;
}

p:active{
    font-weight: bold;
    color:green;

}


/* checked*/
input[type="radio"]:checked+label{ 
    color:red;
    font-weight: bold;
}


/* nthof type*/
div:nth-of-type(2n){
    background-color: blanchedalmond;
}



/* pseudo element*/
    /* first letter*/
    h1::first-letter{
        color:green;
    }

    p::first-line{
        color:red;
    }

    p::selection{
        background-color: burlywood ;
    }
    
    


/* display property */

h2{
    display:inline;
    background-color: aquamarine;
}

span{
    /* display:block; */
    /* background-color: pink; */
    border: 2px solid black;
    height: 100px;
    width:20px;
    padding:50px;
}


/* div{
     border: 2px solid black;
    height: 100px;
    width:20px;
    padding:50px;
} */



/* div{
    height: 20px;
    width:50px;
    background-color: pink;
    margin: 2px;
    border: 2px solid black;

    display: inline-block ;
} */


h1{
    border: 2px solid black;
    width: 50%;
}


#outer{
    /* height: 100px;
    width: 100px; */
    background-color:pink ;
    margin: 50px;

    height: 400px;
    width: 400px;
    border:2px solid black;
    font-size: 20px  ;
}

#inner{
    /* height: 40px;
    width: 40px; */
    background-color:cornflowerblue ;
    /* margin-left: 50%; */

    height:100px;
    width: 100px;
    font-size: 1.5em;
    padding: 1em;

}


button{
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid black;
    /* padding-left: 20px;
    padding-right: 20px;  */
    padding-left: 2em;
    padding-right: 2em;
}
