div{
    background-color: bisque;
}

form{
    background-color: rgb(159, 230, 187);
}


input{
    background-color: inherit;
}

button{
    background-color: inherit;
}

button:hover{
    background-color: red;
}